In [19]:
#5. Find out which vaiable names are legal and follow Python naming conventions

trombones_76='big parade'
print(trombones_76)

big parade

In [7]:
lambda=0.12
print(lambda)

SyntaxError: invalid syntax (1698167461.py, line 1)

In [8]:
Answer=42
print(Answer)

42

In [10]:
myFirstString="remember your trowel"
print(myFirstString)

remember your trowel

In [11]:
float5=3.14159
print(float5)

3.14159

In [15]:
#6.	Select the equation(s) below which evaluate to 42. Hint: Pay attention to PEMDAS and type

print((4+8)*(6.5-3))
print((1+2)**(5-2)+5*3)
print(2**3*3**2+6+4/2)
print((1+2)**3+(5-1)*3+4-1)
print(3*7+6/2*(4+3))

42.0
42
80.0
42
42.0

In [18]:
### Practice using the python interpreter

In [22]:
# find volume of a cone

h=3  #height of the cone
r=2  #radius of the base
pi=3.14

volume=(1/3)*pi*r**2*h
# print(volume) - answer given here is 12.559999999999999, this makes sense considering order of operations

#checked againt wolfram alpha. they say it is 12.5664, but their pi approximation is much larger. 
#now I have to find out how to round the answer to two decimal places
#should be the round() function

round(volume, 2)
#this worked well. take the result you want to round, then a comma, then the numbr of decimal placed to round to

12.56

In [23]:
#8.	A group of 266 persons consists of men, women, and children. There are four times as many men as children, and twice as many women as children. How many children are there? 

group=266
#children=x
#men=4x
#women=2x
#x+2x+4x=7x, therefore 7x=266

children=group/7
print(children)

38.0

In [29]:
#9.	If the sum of three consecutive numbers is 72, what is the largest number? 
72/3 #=24

21+22+23 #=66 - too small
28+29+30 #=87 - too large
24+25+26 #=75 - almost
23+24+25 #=72 - perfect

# i can rety this and be smarter about it, knowing that i will probably need one number above and one number below 24 to make it work.
# this is because 24+24+24 is 72. therefore, you can take one from the first number and add it to the thrid number, giving 23+24+25=72

72

In [32]:
#9.	RETRY - If the sum of three consecutive numbers is 72, what is the largest number? 

72/3 #=24

23+24+25 #also =24. see above block for logic

72

In [44]:
#10. What is the value of x after the following statements are executed? 

x='py'
print(x)

x+='thon'
print(x)

y=z='42'
print(x)

x+=y+z
print(x)

#x*=2 is what is written in the questions. I think this may be an error - result is python4242

x*2 #this may be the intent - result is 'python4242python4242'

py
python
python
python4242

'python4242python4242'